In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [18]:
import numpy as np
import pandas as pd
import datetime as dt
from dateutil.relativedelta import relativedelta

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///data/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [11]:
# Test session connection - print first 5 ids from each table to ensure that sqlalchemy is connecting to them properlyl
for row in session.query(Measurement.id).limit(5).all():
    print(f'Measurement id: {row}')

print('----------')

for row in session.query(Station.id).limit(5).all():
    print(f'Station id: {row}')

Measurement id: (1,)
Measurement id: (2,)
Measurement id: (3,)
Measurement id: (4,)
Measurement id: (5,)
----------
Station id: (1,)
Station id: (2,)
Station id: (3,)
Station id: (4,)
Station id: (5,)

# Exploratory Precipitation Analysis

In [17]:
# Find the most recent date in the data set.
max_date = session.query(func.max(Measurement.date)).all()[0][0]
print(max_date)

2017-08-23

In [26]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
# first take max_date from above and convert from string into datetime object so that relative date can be calculated
# NOTE: approach taken from https://stackoverflow.com/questions/466345/converting-string-into-datetime
max_date_datetime = dt.datetime.strptime(max_date, '%Y-%m-%d')
# Then use relative delta from dateutil package to calculate date 1 year ago
# NOTE: approach taken from https://stackoverflow.com/questions/5158160/python-get-datetime-for-3-years-ago-today
max_date_minus_1yr = max_date_datetime - relativedelta(years=1)

# Perform a query to retrieve the data and precipitation scores
last_year_query = session.query(Measurement).filter(Measurement.date >= max_date_minus_1yr).\
                                             filter(Measurement.date <= max_date).statement


# Save the query results as a Pandas DataFrame and set the index to the date column
measurements_df = pd.read_sql_query(last_year_query,session.bind)
measurements_df.head()

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

     id      station        date  prcp  tobs
0  2365  USC00519397  2016-08-24  0.08  79.0
1  2366  USC00519397  2016-08-25  0.08  80.0
2  2367  USC00519397  2016-08-26  0.00  79.0
3  2368  USC00519397  2016-08-27  0.00  77.0
4  2369  USC00519397  2016-08-28  0.01  78.0

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()